/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2021, 12:55:29 PM
    Author     : PC
*/
*{font-family: Time New Roman;
  font-size: 12pt;
  text-align: justify;
  line-height: 120%;
}
h1{
    color: maroon;
    text-align: center;
    font-size: 16pt;
}
.wrapper{
    width: 50%;
    margin: 0 auto;
}
p.p-Hoa:first-letter{
    font-size: 24pt;
    color:red;
}
a{
    color: blue;
    text-decoration: none;
}
h2{
    font-weight: bold;
    font-size: 14pt;
}
img{
    padding-right: 10pt;
}